// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

@import '_theme_variables.scss';
$purple: #3E3BE1;
$orange: #F6AD55;
$pink: #B83280;
$teal: #276749;
$aqua: #38B2AC;

$primary-500: #140B33;

$secondary-100: #C6F6D5;